.card {
    width: 300px;
    background-color: var(--atomBlue);
    border-radius: 20px;
    border: 2px double var(--atomGrey);
    text-decoration: none;
    z-index: 1;
    box-shadow: 0px 10px 10px rgb(73, 70, 92);
    transition: 0.5s;
}
  
.card:hover {
    transform: translateY(-7px);
    box-shadow: 0px 10px 10px black;
}
  
.top {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
  
.circle {
    padding: 0 4px;
}
  
.circle2 {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 5px;
}
  
.red {
    background-color: var(--atomRed);
}
  
.yellow {
    background-color: var(--atomYellow);
}
  
.green {
    background-color: var(--atomGreen);
}
  
.header {
    padding: 5px;
    padding-top: 5px;
    border-radius: 5px;
}

.website-details {
    width: 100%;
    overflow: hidden;

    h3 { 
        margin: 0px 24px;
        margin-top: 8px;
        font-size: 24px;
        font-family: 'JetBrains Mono', monospace;
        font-weight: bold;
        color: white;
    }

    p {
        font-size: 16px;
        font-family: 'JetBrains Mono', monospace;
        margin: 4px 24px 8px;
        color: var(--atomGrey);
    }
}

.image-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #20242a;
    border-radius: 0 0 10px 10px;
}

.image-container > img {
    width: 80%;
    height: 80%;
    object-fit: cover; 
    border-radius: 20px;
}


  