.website-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* justify-content: space-evenly;\ */
    /* gap: 24px; */
    /* overflow-y: hidden; */
    padding: 0px;
    background-color: aqua;
}

